body {
	/* line-height: 1.6; */
}

.row {
	display: flex;
	justify-content: flex-start;
}

.row div {
	padding: 10px;
}

.hidden {
	display: none;
}

.line {
	text-decoration: line-through;
}